:where(.data-table-row) {}

:where(.data-table-header) {
  position: relative;
  z-index: 0;
}

:where(.data-table-header--left) {
  position: sticky;
  z-index: 1;
  left: var(--left);
}

:where(.data-table-header--right) {
  position: sticky;
  z-index: 1;
  right: var(--right);
}

:where(.data-table-col-separator) {
  position: absolute;
  overflow: hidden;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 8px;
  color: rgb(224, 224, 224);
  right: -4px;
  cursor: col-resize;
}

:where(.data-table-caption--top) {
  caption-side: top;
}

:where(.data-table-caption--bottom) {
  caption-side: bottom;
}

:where(.data-table-col-separator--resize) {

}

:where(.data-table-icon-separator) {
  color: inherit;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1), width 150ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  flex-shrink: 0;
  fill: currentcolor;
  font-size: 1.5rem;
}

:where(.data-table-cell) {}

:where(.data-table-empty) {
}

:where(.data-table-loading) {
}

:where(.data-table-header,.data-table-cell) {
  padding: 0px 8px;
  box-sizing: border-box;
}

:where(.data-table--bordered) {
  border: 1px solid var(--border-color, transparent);
}